<div id="<%= dom_id feature%>">
  <p>
    <strong>Title:</strong>
    <%= feature.title %>
  </p>
  <p>
    <strong>Place:</strong>
    <%= feature.place %>
  </p>
  <p>
    <strong>Magnitude Type:</strong>
    <%= feature.mag_type %>
  </p>
  <p>
    <strong>Magnitude:</strong>
    <%= feature.magnitude %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= feature.time %>
  </p>
  <p>
    <strong>Tsunami:</strong>
    <%= feature.tsunami %>
  </p>
  <p>
    <strong>External Id:</strong>
    <%= feature.external_id %>
  </p>
  <%# <p>
    <strong>Coordinates:</strong>
    <%= feature.longitude, feature.latitude 
  </p> %>
</div>
