<p style="color: green"><%= notice %></p>

<h1>Features</h1>

<div id="features" style="width: 18rem;">
  <% @features.each do |feature| %>
    <div class="card">
      <ul>
        <li><strong>Title: </strong> <%= feature.title %></li>
        <li><strong>Place: </strong> <%= feature.place %></li>
        <li><strong>Magnitude Type:</strong> <%= feature.mag_type %></li>
      </ul>
      <p>
        <%= link_to "Show this feature", feature %>
      </p>
    </div>
  <% end %>
</div>
